@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;600;700&display=swap");
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-user-select: none;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Muli", sans-serif;
  background-color: #e6e6e6;
}

.main-cursor {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin: 0;
  pointer-events: none;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__clip-section {
  overflow: hidden;
}
.loader__copy-container {
  display: flex;
  align-items: baseline;
}
.loader__title {
  margin-right: 0.5em;
  display: inline-block;
}
.loader__title h1 {
  margin: 0;
}
.loader__title h1 {
  font-size: 12px;
}
@media screen and (min-width: 375px) {
  .loader__title h1 {
    font-size: calc(12px + 18 * ((100vw - 375px) / 1305));
  }
}
@media screen and (min-width: 1680px) {
  .loader__title h1 {
    font-size: 30px;
  }
}
.loader__sub-title {
  margin-left: 0.5em;
  display: inline-block;
}
.loader__sub-title h3 {
  margin: 0;
}
.loader__sub-title h3 {
  font-size: 5px;
}
@media screen and (min-width: 375px) {
  .loader__sub-title h3 {
    font-size: calc(5px + 15 * ((100vw - 375px) / 1305));
  }
}
@media screen and (min-width: 1680px) {
  .loader__sub-title h3 {
    font-size: 20px;
  }
}

.navigation {
  position: relative;
  z-index: 0;
  user-select: none;
  -webkit-user-select: none;
}
.navigation__links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  width: 100%;
  margin: 0;
}
.navigation__links .link {
  text-decoration: none;
  color: #000000;
  display: inline-block;
  margin-top: 2em;
  margin-bottom: 2em;
  position: relative;
  font-weight: 600;
  opacity: 0.5;
  transition: opacity 0.5s;
  will-change: opacity;
}
.navigation__links .link {
  font-size: 10px;
}
@media screen and (min-width: 375px) {
  .navigation__links .link {
    font-size: calc(10px + 4 * ((100vw - 375px) / 1305));
  }
}
@media screen and (min-width: 1680px) {
  .navigation__links .link {
    font-size: 14px;
  }
}
.navigation__links .link--active {
  opacity: 1;
  transition: opacity 0.5s;
  will-change: opacity;
}
.navigation__links .link--disabled {
  pointer-events: none;
}
.navigation__links .link::before {
  position: absolute;
  width: 100%;
  bottom: 0%;
  height: 1px;
  background-color: black;
  content: "";
  will-change: transform;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s;
}
.navigation__links .link:hover {
  opacity: 1;
  transition: opacity 0.5s;
  will-change: opacity;
}
.navigation__links .link:hover::before {
  will-change: transform;
  transform: scaleX(1);
  transform-origin: bottom left;
  transition: transform 0.2s;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.project-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  height: 22vw;
  max-width: 1680px;
  max-height: 1080px;
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .project-container {
    width: 100vw;
    height: 35vh;
  }
}
.project-container--scrolling {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  z-index: 0;
  pointer-events: none;
}

.title-container {
  position: relative;
  left: 0%;
  height: 100%;
  width: 25%;
}
.title-container__title {
  position: absolute;
  right: 10%;
  width: 90%;
  pointer-events: none;
}
.title-container__title h1 {
  margin: 0;
  font-weight: 600;
  letter-spacing: 0.12em;
  text-align: end;
  text-transform: uppercase;
  will-change: transform, opacity;
}
.title-container__title h1 {
  font-size: 12px;
}
@media screen and (min-width: 375px) {
  .title-container__title h1 {
    font-size: calc(12px + 18 * ((100vw - 375px) / 1305));
  }
}
@media screen and (min-width: 1680px) {
  .title-container__title h1 {
    font-size: 30px;
  }
}

.content-container {
  position: relative;
  right: 0%;
  width: 25%;
  height: 100%;
  margin: 0;
  pointer-events: none;
}
.content-container h3 {
  margin: 0;
  font-weight: 700;
}
.content-container h3 {
  font-size: 8px;
}
@media screen and (min-width: 375px) {
  .content-container h3 {
    font-size: calc(8px + 8 * ((100vw - 375px) / 1305));
  }
}
@media screen and (min-width: 1680px) {
  .content-container h3 {
    font-size: 16px;
  }
}
.content-container p {
  margin: 0;
  font-weight: 300;
}
.content-container p {
  font-size: 5px;
}
@media screen and (min-width: 375px) {
  .content-container p {
    font-size: calc(5px + 8 * ((100vw - 375px) / 1305));
  }
}
@media screen and (min-width: 1680px) {
  .content-container p {
    font-size: 13px;
  }
}
.content-container__content {
  position: absolute;
  left: 10%;
  width: 90%;
  bottom: 0%;
  display: flex;
  flex-direction: column;
}
.content-container .project-info {
  display: inline-block;
  margin-top: 1.25em;
  will-change: transform, opacity;
}

.project-link {
  position: absolute;
  bottom: 0%;
  right: 10%;
  cursor: pointer;
}
.project-link a {
  text-decoration: none;
  color: #000000;
  margin: 0;
}
.project-link a::before {
  position: absolute;
  height: 1px;
  bottom: 0%;
  width: 100%;
  background-color: black;
  content: "";
  transform: scaleX(0);
  transform-origin: top right;
  transition: transform 0.2s;
}
.project-link a:hover::before {
  transform: scaleX(1);
  transform-origin: top left;
  transition: transform 0.5s;
}

.project-video {
  width: 45%;
  height: 100%;
  margin: 0;
  position: relative;
}
@media screen and (max-width: 414px) {
  .project-video {
    width: 75%;
    height: 40%;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 40vw;
  max-width: 1680px;
  max-height: 1080px;
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
}

.portrait-container {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portrait-container__portrait {
  position: absolute;
  left: 5%;
  width: 60%;
  height: 60%;
  will-change: transform;
}

.copy-container {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.about-copy {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about-copy__intro {
  margin-top: 2em;
  pointer-events: none;
}
.about-copy__intro__header {
  margin-top: 0em;
  margin-bottom: 0.5em;
  will-change: transform, opacity;
  pointer-events: none;
}
.about-copy__intro__header {
  font-size: 15px;
}
@media screen and (min-width: 375px) {
  .about-copy__intro__header {
    font-size: calc(15px + 30 * ((100vw - 375px) / 1305));
  }
}
@media screen and (min-width: 1680px) {
  .about-copy__intro__header {
    font-size: 45px;
  }
}
.about-copy__intro__body-text {
  margin-top: 0;
  will-change: transform, opacity;
  pointer-events: none;
}
.about-copy__intro__body-text {
  font-size: 5px;
}
@media screen and (min-width: 375px) {
  .about-copy__intro__body-text {
    font-size: calc(5px + 10 * ((100vw - 375px) / 1305));
  }
}
@media screen and (min-width: 1680px) {
  .about-copy__intro__body-text {
    font-size: 15px;
  }
}

.contact-container {
  margin-top: 1em;
}
.contact-container__header {
  margin-top: 0;
  color: #000000;
  pointer-events: none;
  margin: 0;
}
.contact-container__header {
  font-size: 10px;
}
@media screen and (min-width: 375px) {
  .contact-container__header {
    font-size: calc(10px + 10 * ((100vw - 375px) / 1305));
  }
}
@media screen and (min-width: 1680px) {
  .contact-container__header {
    font-size: 20px;
  }
}
.contact-container__methods {
  display: flex;
  margin-top: 1em;
}
.contact-container__methods__wrapper {
  display: inline-block;
  margin-bottom: 0.2em;
  will-change: transform, opacity;
  margin-right: 1.5em;
}
.contact-container__methods .link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #000000;
  margin: 0;
  opacity: 0.8;
}
.contact-container__methods .link {
  font-size: 5px;
}
@media screen and (min-width: 375px) {
  .contact-container__methods .link {
    font-size: calc(5px + 10 * ((100vw - 375px) / 1305));
  }
}
@media screen and (min-width: 1680px) {
  .contact-container__methods .link {
    font-size: 15px;
  }
}
.contact-container__methods .link--enabled {
  transition: opacity 0.2s;
}
.contact-container__methods .link--enabled::before {
  position: absolute;
  height: 1px;
  bottom: 0%;
  width: 100%;
  background-color: black;
  content: "";
  transform: scaleX(0);
  transform-origin: top right;
  transition: transform 0.2s;
}
.contact-container__methods .link--enabled:hover {
  opacity: 1;
  transition: opacity 0.2s;
}
.contact-container__methods .link--enabled:hover::before {
  transform: scaleX(1);
  transform-origin: top left;
  transition: transform 0.5s;
}

/*# sourceMappingURL=/styles.75769a39.css.map */