@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap");
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "Mulish", sans-serif;
  background-color: #ededed;
}

.no-mobile-cta {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #ededed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  z-index: 999;
}
.no-mobile-cta__contact-link {
  color: #000000;
}
.no-mobile-cta__greeting-gif {
  width: 75%;
  height: 75%;
}
.no-mobile-cta__text {
  font-size: 15px;
}
@media screen and (min-width: 375px) {
  .no-mobile-cta__text {
    font-size: calc(15px + 17 * ((100vw - 375px) / 1545));
  }
}
@media screen and (min-width: 1920px) {
  .no-mobile-cta__text {
    font-size: 32px;
  }
}

.pointer {
  cursor: pointer;
}

.grid {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
  z-index: 1;
}
.grid--column {
  flex-direction: column;
}
.grid--row {
  flex-direction: row;
}
.grid__row {
  height: 100vh;
  width: 5.555555556vw;
  background-color: red;
  opacity: 0.05;
  margin-left: 1.0416666666vw;
  margin-right: 1.0416666666vw;
}
.grid__column {
  height: 3.472222222vw;
  width: 100vw;
  background-color: red;
  opacity: 0.05;
  margin-top: 0.70225vw;
  margin-bottom: 0.70225vw;
}

.column {
  flex-direction: row;
}

.row {
  flex-direction: column;
}

.main-cursor {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin: 0;
  pointer-events: none;
}

.webgl-canvas {
  position: fixed;
  top: 0%;
  left: 0%;
  pointer-events: none;
}

.loader {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  z-index: 100;
  overflow: hidden;
  pointer-events: none;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0px, 0px, 0px);
}
.loader__clip-section {
  overflow: hidden;
  display: inline-block;
}
.loader__loading-bar {
  width: 30vw;
  display: inline-block;
  height: 0.1vw;
  background-color: #ffffff;
  transform: scaleX(0);
}
.loader__progress {
  margin: 0;
  color: #ffffff;
  font-size: 1.25vw;
  font-weight: 600;
}
.loader__copy-container {
  display: flex;
  align-items: baseline;
}
.loader__title {
  margin-right: 0.5em;
  display: inline-block;
}
.loader__title h1 {
  margin: 0;
}
.loader__title h1 {
  font-size: 12px;
}
@media screen and (min-width: 375px) {
  .loader__title h1 {
    font-size: calc(12px + 8 * ((100vw - 375px) / 1545));
  }
}
@media screen and (min-width: 1920px) {
  .loader__title h1 {
    font-size: 20px;
  }
}
.loader__sub-title {
  margin-left: 0.5em;
  display: inline-block;
}
.loader__sub-title h3 {
  margin: 0;
}
.loader__sub-title h3 {
  font-size: 5px;
}
@media screen and (min-width: 375px) {
  .loader__sub-title h3 {
    font-size: calc(5px + 15 * ((100vw - 375px) / 1545));
  }
}
@media screen and (min-width: 1920px) {
  .loader__sub-title h3 {
    font-size: 20px;
  }
}

.loaded {
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.navigation {
  position: fixed;
  height: 27.85vw;
  width: 5.555555556vw;
  top: 50%;
  right: 2.88vw;
  transform: translate3d(0px, -50%, 0px);
  z-index: 10;
}
.navigation__links {
  position: absolute;
  writing-mode: vertical-lr;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  top: 0%;
  padding: 0;
  margin: 0;
}
.navigation__links li {
  display: inline-block;
}
.navigation__links .link {
  color: #000000;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 6vw;
  position: relative;
  font-weight: 300;
  opacity: 0.4;
  text-align: center;
  transform: translate3d(0px, 0px, 0px);
}
.navigation__links .link {
  font-size: 14px;
}
@media screen and (min-width: 375px) {
  .navigation__links .link {
    font-size: calc(14px + 6 * ((100vw - 375px) / 1545));
  }
}
@media screen and (min-width: 1920px) {
  .navigation__links .link {
    font-size: 20px;
  }
}
.navigation__links .link--disabled {
  pointer-events: none;
}

.sticky-hovered {
  color: #ffffff !important;
  text-decoration: none !important;
}
.sticky-hovered path {
  fill: #ffffff !important;
}
.sticky-hovered p {
  text-decoration: none !important;
}

.deactivated {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

.transition-slide {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: #ffffff;
  transform-origin: center center;
  pointer-events: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.work {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.project-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0px);
  width: 89.5vw;
  height: 27.85vw;
  z-index: 0;
  user-select: none;
  -webkit-user-select: none;
}
.project-content__in-view {
  z-index: 2;
}

.project-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0px);
  display: inline-block;
  overflow: hidden;
}
.project-title__title {
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  vertical-align: baseline;
  margin: 0;
  color: #000000;
  user-select: none;
  -webkit-user-select: none;
}
.project-title__title {
  font-size: 10px;
}
@media screen and (min-width: 375px) {
  .project-title__title {
    font-size: calc(10px + 26 * ((100vw - 375px) / 1545));
  }
}
@media screen and (min-width: 1920px) {
  .project-title__title {
    font-size: 36px;
  }
}

.project-number {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  left: 26.5%;
  top: 2%;
  transform: translate3d(-50%, -50%, 0px);
}
.project-number__number {
  text-transform: uppercase;
  font-weight: 200;
  text-align: center;
  vertical-align: baseline;
  margin: 0;
  color: #000000;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}
.project-number__number {
  font-size: 8px;
}
@media screen and (min-width: 375px) {
  .project-number__number {
    font-size: calc(8px + 15 * ((100vw - 375px) / 1545));
  }
}
@media screen and (min-width: 1920px) {
  .project-number__number {
    font-size: 23px;
  }
}

.project-info {
  position: absolute;
  top: 55%;
  left: 0%;
  width: 23.5%;
  transform: translate3d(0%, -50%, 0px);
}

.project-misc__item__copy {
  font-weight: 300;
  color: #000000;
  margin: 0.1vw;
}
.project-misc__item__copy {
  font-size: 7px;
}
@media screen and (min-width: 375px) {
  .project-misc__item__copy {
    font-size: calc(7px + 6 * ((100vw - 375px) / 1545));
  }
}
@media screen and (min-width: 1920px) {
  .project-misc__item__copy {
    font-size: 13px;
  }
}

.project-description {
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.project-description__copy {
  font-weight: 300;
  color: #000000;
  margin: 0;
}
.project-description__copy {
  font-size: 7px;
}
@media screen and (min-width: 375px) {
  .project-description__copy {
    font-size: calc(7px + 18 * ((100vw - 375px) / 1545));
  }
}
@media screen and (min-width: 1920px) {
  .project-description__copy {
    font-size: 25px;
  }
}

.project-tech {
  width: 62.5%;
}
.project-tech__copy {
  font-weight: 300;
  color: #000000;
  margin: 0;
}
.project-tech__copy {
  font-size: 7px;
}
@media screen and (min-width: 375px) {
  .project-tech__copy {
    font-size: calc(7px + 6 * ((100vw - 375px) / 1545));
  }
}
@media screen and (min-width: 1920px) {
  .project-tech__copy {
    font-size: 13px;
  }
}

.project-link {
  position: absolute;
  bottom: 0%;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  display: inline-block;
}
.project-link__link {
  color: #000000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: default;
  pointer-events: none;
}
.project-link__link {
  font-size: 7px;
}
@media screen and (min-width: 375px) {
  .project-link__link {
    font-size: calc(7px + 6 * ((100vw - 375px) / 1545));
  }
}
@media screen and (min-width: 1920px) {
  .project-link__link {
    font-size: 13px;
  }
}
.project-link__link__active {
  cursor: pointer;
  pointer-events: auto;
}

.project-video {
  width: 28.45vw;
  height: 18.638889vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0px);
}

.view-button {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  right: 23.85%;
  top: 88.25%;
  transform: translate3d(-50%, -50%, 0px);
}
.view-button__button {
  font-weight: 300;
  text-align: center;
  vertical-align: baseline;
  margin: 0;
  color: #000000;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
.view-button__button {
  font-size: 7px;
}
@media screen and (min-width: 375px) {
  .view-button__button {
    font-size: calc(7px + 18 * ((100vw - 375px) / 1545));
  }
}
@media screen and (min-width: 1920px) {
  .view-button__button {
    font-size: 25px;
  }
}

.exit-button {
  position: absolute;
  top: 0%;
  width: 1vw;
  height: 1vw;
  overflow: hidden;
  cursor: default;
  pointer-events: none;
}
.exit-button__icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.exit-button__active {
  cursor: pointer;
  pointer-events: auto;
}

.not-in-view {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

.scrolling {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0px);
  width: 74.25vw;
  height: 27.85vw;
  max-width: 1450px;
  display: flex;
  justify-content: space-between;
  color: #000000;
}
@media screen and (max-width: 414px) and (orientation: portrait) {
  .content {
    width: 90vw;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
}

.portrait-container {
  position: absolute;
  width: 28.485vw;
  height: 100%;
  max-height: 1024px;
  left: 50%;
  transform: translate3d(-50%, 0%, 0px);
}
@media screen and (max-width: 414px) and (orientation: portrait) {
  .portrait-container {
    width: 100%;
    height: 50%;
    max-width: 256px;
    max-height: 256px;
  }
}
.portrait-container__portrait {
  position: absolute;
  width: 100%;
  height: 100%;
}

.copy-container {
  position: relative;
  width: 38.35%;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translate3d(0px, 0px, 0px);
}
@media screen and (max-width: 414px) and (orientation: portrait) {
  .copy-container {
    justify-content: center;
    width: 100%;
    height: 50%;
    flex-direction: column-reverse;
    margin-top: -5em;
  }
}

.about-copy {
  width: 100%;
  height: 100%;
}
.about-copy__header {
  font-weight: 400;
  position: absolute;
  top: -8%;
  left: -2.25%;
  margin: 0 0 0 0;
}
.about-copy__header {
  font-size: 15px;
}
@media screen and (min-width: 375px) {
  .about-copy__header {
    font-size: calc(15px + 165 * ((100vw - 375px) / 1545));
  }
}
@media screen and (min-width: 1920px) {
  .about-copy__header {
    font-size: 180px;
  }
}
.about-copy__body-text {
  position: absolute;
  top: 35.5%;
  margin: 0 0 0 0;
}
.about-copy__body-text {
  font-size: 3px;
}
@media screen and (min-width: 375px) {
  .about-copy__body-text {
    font-size: calc(3px + 15 * ((100vw - 375px) / 1545));
  }
}
@media screen and (min-width: 1920px) {
  .about-copy__body-text {
    font-size: 18px;
  }
}
@media screen and (max-width: 414px) and (orientation: portrait) {
  .about-copy__body-text {
    font-size: 3vw;
  }
}

.contact-container {
  position: absolute;
  bottom: 2.85vw;
  transform: translate3d(0px, 0px, 0px);
}
.contact-container__header {
  margin: 0 0 1vw 0;
  color: #000000;
}
.contact-container__header {
  font-size: 5px;
}
@media screen and (min-width: 375px) {
  .contact-container__header {
    font-size: calc(5px + 15 * ((100vw - 375px) / 1545));
  }
}
@media screen and (min-width: 1920px) {
  .contact-container__header {
    font-size: 20px;
  }
}
@media screen and (max-width: 414px) and (orientation: portrait) {
  .contact-container__header {
    font-size: 3vw;
  }
}
.contact-container__methods {
  position: absolute;
  left: -1.25vw;
  cursor: none;
  display: flex;
  flex-direction: row;
  transform: translate3d(0px, 0px, 0px);
}
.contact-container__methods__link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  padding: 1.25vw;
}
.contact-container__methods__link {
  font-size: 3px;
}
@media screen and (min-width: 375px) {
  .contact-container__methods__link {
    font-size: calc(3px + 12 * ((100vw - 375px) / 1545));
  }
}
@media screen and (min-width: 1920px) {
  .contact-container__methods__link {
    font-size: 15px;
  }
}
@media screen and (max-width: 414px) and (orientation: portrait) {
  .contact-container__methods__link {
    font-size: 3vw;
  }
}

/*# sourceMappingURL=/styles.75769a39.css.map */