<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../styles/index.scss">
    <title>Douglas Lilliequist</title>
</head>
<body>
    <!-- <div class = "grid column">
        <div class = "grid__column"></div>
        <div class = "grid__column"></div>
        <div class = "grid__column"></div>
        <div class = "grid__column"></div>
        <div class = "grid__column"></div>
        <div class = "grid__column"></div>
        <div class = "grid__column"></div>
        <div class = "grid__column"></div>
        <div class = "grid__column"></div>
        <div class = "grid__column"></div>
        <div class = "grid__column"></div>
        <div class = "grid__column"></div>
    </div>
    <div class = "grid row">
        <div class = "grid__row"></div>
        <div class = "grid__row"></div>
        <div class = "grid__row"></div>
        <div class = "grid__row"></div>
        <div class = "grid__row"></div>
        <div class = "grid__row"></div>
        <div class = "grid__row"></div>
        <div class = "grid__row"></div>
    </div> -->
    <div class = "navigation">
        <ul class = "navigation__links">
            <li>
                <div class = "navigation__links__transform">
                    <a class = "navigation__links link" href = "./">work</a>
                </div>
            </li>
            <li>
                <div class = "navigation__links__transform">
                    <a class = "navigation__links link" href = "./About.html">about</a>
                </div>
            </li>
        </ul>
    </div>
    <div class = "loader">
        <div class = "loader__clip-section">
        <div class = "loader__copy-container">
            <span class = "loader__title">
                <h1></h1>
            </span>
            <span class = "loader__sub-title">
                <h3></h3>
            </span>
        </div>
        </div>
    </div>
    <canvas class = "main-cursor"></canvas>
    <canvas class = "webgl-canvas"></canvas>
    <main data-router-wrapper>
        <article data-router-view="about">
            <div class = "content">
                <div class = "copy-container">
                    <div class = "about-copy">
                    <div class = "about-copy__intro">
                    <h1 class = "about-copy__intro__header"></h1>
                    <p class = "about-copy__intro__body-text">
                    </p>
                </div>
                    <div class = "contact-container">
                        <h3 class = "contact-container__header">
                        </h3>
                        <div class = "contact-container__methods">
                            <div class = "contact-container__methods__transform">
                                <a class = "contact-container__methods__link" target = "_blank"></a>
                            </div>
                            <div class = "contact-container__methods__transform">
                                <a class = "contact-container__methods__link" target = "_blank"></a>
                            </div>
                            <div class = "contact-container__methods__transform">
                                <a class = "contact-container__methods__link" target = "_blank"></a>
                            </div>
                            <div class = "contact-container__methods__transform">
                                <a class = "contact-container__methods__link" target = "_blank"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "portrait-container">
                <div class = "portrait-container__portrait">
                </div>
            </div>
            </div>        
        </article>
    </main>
    <script src = "../index.js"></script>
</body>
</html>