<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../styles/index.scss">
    <title>Douglas Lilliequist</title>
</head>
<body>
    <div class = "navigation">
        <ul class = "navigation__links">
            <li><a href = "./index.html">home</a></li>
            <li><a href = "./About.html">about</a></li>
            <li><a href = "./Projects.html">projects</a></li>
        </ul>
    </div>
    <main data-router-wrapper>
        <article data-router-view="home">
            <div class = "main-container"></div>                
        </article>
    </main>
    <div class = "canvas-container"></div>
    <canvas class = "main-cursor"></canvas>
    <script src = "../index.js"></script>
</body>
</html>