<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Portfolio showcasing client and personal work made by Douglas Lilliequist.">
    <link rel="stylesheet" href="../../styles/index.scss">
    <title>Douglas Lilliequist</title>
</head>
<body>
    <div class = "navigation">
        <ul class = "navigation__links">
            <li>
                <a class = "navigation__links link" href = "./">work :</a>
            </li>
            <li>
                <a class = "navigation__links link" href = "./About.html">about :</a>
            </li>
        </ul>
    </div>
    <div class = "loader">
        <div class = "loader__clip-section">
        <h1 class = "loader__progress"></h1>
        <!-- <span class = "loader__loading-bar"></span> -->
    </div>
    </div>
    <canvas class = "webgl-canvas"></canvas>
    <canvas class = "main-cursor"></canvas>
    <main data-router-wrapper>
        <article data-router-view="work">
                <div class = "project-video">
                        <div class = "project-title">
                                <div class = "project-title__transform">
                                    <div class = "project-title__container">
                                        <h1 class = "project-title__title">good night sweet heart</h1>
                                    </div>
                                </div>
                            </div>
                    <div class = "exit-button">
                            <svg class = "exit-button__icon" width="12" height="12" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.292893 1.70711L24.2929 25.7071L25.7071 24.2929L1.70711 0.292893L0.292893 1.70711ZM24.2929 0.292893L0.292893 24.2929L1.70711 25.7071L25.7071 1.70711L24.2929 0.292893Z" fill="black"/>
                            </svg>
                    </div>
                    <div class = "view-project-button">
                            <div class = "view-project-button__transform">
                                <p>view</p>
                            </div>
                    </div>
                </div>
                <div class = "project-container">
                    <div class = "title-container">
                        <div class = "title-container__title">
                            <h1 id = "project_title"></h1>
                        </div>
                    </div>
                    <div class = "project-container__details">
                        <div class = "project-container__type">
                            <p class = "project-detail" id = "project_type"></p>
                        </div>
                        <div class = "project-container__year">
                            <p class = "project-detail" id = "project_year"></p>
                        </div>
                    </div>
                    <div class = "content-container">
                        <div class = "content-container__content">
                                <h3 class = "project-info" id = "project_description"></h3>
                                <p class = "project-info" id = "project_tech"></p>
                                <p class = "project-info" id = "project_role"></p>
                        </div>
                    </div>
                    <div class = "project-link-container">
                        <a class = "project-link" target = "_blank" id = "project_link">view project</a>
                    </div>
                </div>
        </article>
    </main>
    <script src = "../index.js"></script>
</body>
</html>