<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../styles/main.scss">
    <title>Douglas Lilliequist</title>
</head>
<body>
    <div class = "navigation">
    <ul class = "navigation__links">
            <li><a href = "./index.html">home</a></li>
            <li><a href = "./About.html">about</a></li>
            <li><a href = "./Projects.html">projects</a></li>
        </ul>
    </div>
    <main data-router-wrapper>
        <article data-router-view="projects">
            <div class = "main-container">
                <div class = "project">
                    <video class ="project__video" src="https://s3.eu-west-3.amazonaws.com/douglaslilliequist/sken.mp4" crossorigin="*"></video>
                </div>
                <div class = "project">
                    <video class ="project__video" src="https://s3.eu-west-3.amazonaws.com/douglaslilliequist/11secvid_yippheader.mp4" crossorigin="*"></video>
                </div>
                <div class = "project">
                    <video class ="project__video" src="https://s3.eu-west-3.amazonaws.com/douglaslilliequist/intrnshpproj.mp4" crossorigin="*"></video>
                </div>
                <div class = "project">
                    <video class ="project__video" src="https://s3.eu-west-3.amazonaws.com/douglaslilliequist/needahand.mp4" crossorigin="*"></video>
                </div>
                <div class = "project">
                    <video class ="project__video" src="https://s3.eu-west-3.amazonaws.com/douglaslilliequist/gdnghtswthrtweb.mp4" crossorigin="*"></video>
                </div>
            </div>        
        </article>
    </main>
    <div className = "canvas-container"></div>
</body>
<script src = "../index.js"></script>
</html>