<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../styles/main.scss">
    <link rel="stylesheet" href="../../styles/projects.scss">
    <title>Douglas Lilliequist</title>
</head>
<body>
    <div class = "navigation">
    <ul class = "navigation__links">
            <li><a href = "./index.html">home</a></li>
            <li><a href = "./About.html">about</a></li>
            <li><a href = "./Projects.html">projects</a></li>
        </ul>
    </div>
    <main data-router-wrapper>
        <article data-router-view="projects">
            <div class = "main-container">
                <div class = "project-container">
                    <div class = "project-container__title-container">
                        <div class = "project-container__title-container__clip-reveal">
                            <h1 class = "project-container__title-container__clip-reveal__title">GOOD NIGHT SWEET HEART</h1>
                        </div>
                    </div>
                        <div class = "project"></div>         
                    <div class = "project-container__content-container">
                        <div class = "project-container__content-container__content">
                            <div class = "project-container__content-container__content__clip-reveal">
                                <p class = "project-container__content-container__content__type">EXPERIMENT</p>
                            </div>
                            <div class = "project-container__content-container__content__clip-reveal">
                                <h3 class = "project-container__content-container__content__clip-reveal__description">Art Puzzle installation</h3>
                            </div>
                            <div class = "project-container__content-container__content__clip-reveal">
                                <p class = "project-container__content-container__content__clip-reveal__tech">Processing / resolume / arduino</p>
                            </div>
                        </div>
                        <div class = "project-container__content-container__project-link">
                            <div class = "project-container__content-container__project-link__clip-reveal">
                            <div class = "content-container__link">
                                <p>view project</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </article>
    </main>
    <canvas class = "main-cursor"></canvas>
    <div class = "canvas-container"></div>
    <script src = "../index.js"></script>
</body>
</html>