@import 'constants';
@import 'typography';
@import 'mixins';

.content {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px);
    width: 74.25vw;
    height: 29.25vw;
    max-width: 1450px;
    display: flex;
    justify-content: space-between;
    mix-blend-mode: exclusion;
    color: #ffffff;

    @media screen and (max-width: 414px) and (orientation: portrait) {
        width: 90vw;
        height: 100%;
        flex-direction: column-reverse;
        justify-content: space-evenly;

    }

}


.portrait-container {

    position: absolute;
    width: 29.16666667vw;
    height: 29.16666667vw;
    max-height: 1024px;
    left: 50%;
    transform: translate3d(-50%, 0%, 0px);

    @media screen and (max-width: 414px) and (orientation: portrait) {
        width: 100%;
        height: 50%;
        max-width: 256px;
        max-height: 256px;
    }

    
    &__portrait {

        position: absolute;
        width: 100%;
        height: 100%;
    }

}

    .copy-container {

        position: relative;
        width: 38.35%;
        height: 100%;
        display: flex;
        align-items: center;
        transform: translate3d(0px, 0px, 0px);

        @media screen and (max-width: 414px) and (orientation: portrait) {
            justify-content: center;
            width: 100%;
            height: 50%;
            flex-direction: column-reverse;
            margin-top: -5em;
        }

    }

    .about-copy {

            
            &__header {
                position: absolute;
                top: 4.15vw;
                // top: 2.1vw;
                left: -0.2vw;
                @include fluid-type($minWidth, $maxWidth, $minFontSize__about-header, $maxFontSize__about-header);
                margin: 0 0 0 0;
                font-weight: $bold;                
                @media screen and (max-width: 414px) and (orientation: portrait) {
                    font-size: 8vw;
                }

            }
    
            &__body-text {
                position: absolute;
                top: 10.2vw;
                margin: 0 0 0 0;
                @include fluid-type($minWidth, $maxWidth, $minFontSize__about-body, $maxFontSize__about-body);
                @media screen and (max-width: 414px) and (orientation: portrait) {
                    font-size: 3vw;
                }

            }

    }

    .contact-container {

        position: absolute;
        position: absolute;
        bottom: 5.85vw;
        transform: translate3d(0px, 0px, 0px);

        &__header {

            margin: 0 0 1vw 0;
            color: #000000;
            @include fluid-type($minWidth, $maxWidth, $minFontSize__about__links-header, $maxFontSize__about__links-header);

            
        @media screen and (max-width: 414px) and (orientation: portrait) {
            font-size: 3vw;
        }

        }
        &__methods {
    
            position: absolute;
            left: -1.25vw;
            cursor: none;
            display: flex;
            flex-direction: row;
            transform: translate3d(0px,0px,0px);

            // &__transform {

            //     transform: translate3d(0px,0px,0px);
            // }

            &__link {
                display: inline-block;
                text-decoration: none;
                color:#000000;

                padding: 1.25vw;
                // cursor: none;
                @include fluid-type($minWidth, $maxWidth, $minFontSize__about__links-body, $maxFontSize__about__links-body);

                @media screen and (max-width: 414px) and (orientation: portrait) {
                    font-size: 3vw;
                }
    
            }

        }

    }