@import 'constants';
@import 'typography';
@import 'mixins';

.content {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 60vw;
    max-width: $maxWidth;
    max-height: $maxHeight;
    display: flex;
    justify-content: space-evenly;
    z-index: 2;

}


.portrait-container {

    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    
    &__portrait {

        position: absolute;
        // left: 2.5%;
        width: 60%;
        height: 100%;
        // will-change: transform;

    }

}

    .copy-container {

        position: relative;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        // right: 0%;

    }

    .about-copy {

        position: relative;
        width: 80%;
        height: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__intro {

            margin-top: 2em;
            pointer-events: none;

            
            &__header {
                @include fluid-type($minWidth, $maxWidth, $minFontSize__about-header, $maxFontSize__about-header);
                margin-top: 0em;
                margin-bottom: 0.5em;
                // will-change: transform, opacity;
                pointer-events: none;

            }
    
            &__body-text {
                @include fluid-type($minWidth, $maxWidth, $minFontSize__about-body, $maxFontSize__about-body);
                margin-top: 0;
                // will-change: transform, opacity;
                pointer-events: none;

            }

        }

    }

    .contact-container {

        margin-top: 1em;

        &__header {

            margin-top: 0;
            color: #000000;
            @include fluid-type($minWidth, $maxWidth, $minFontSize__about__links-header, $maxFontSize__about__links-header);
            pointer-events: none;
            margin: 0;

        }
        // top: 20%;
        &__methods {
            display: flex;
            // flex-direction: column;
            // justify-content: space-evenly;
            margin-top: 1em;

            &__wrapper {

                display: inline-block;
                margin-bottom: 0.2em;
                // will-change: transform, opacity;
                margin-right: 1.5em;

            }

            .link {
                display: inline-block;
                position: relative;
                text-decoration: none;
                color:#000000;
                margin: 0;
                opacity: 0.8;
                @include fluid-type($minWidth, $maxWidth, $minFontSize__about__links-body, $maxFontSize__about__links-body);

                &--enabled {
    
                    transition: opacity 0.2s;
        
                        &::before {
                
                            position: absolute;
                            height: 1px;
                            bottom: 0%;
                            width: 100%;
                            background-color: black;
                            content: "";
                            transform: scaleX(0);
                            transform-origin: top right;
                            transition: transform 0.2s;
                    
                        }  
        
                    &:hover {
                        opacity: 1.0;
                        transition: opacity 0.2s;
        
                        &::before {
                            transform: scaleX(1);
                            transform-origin: top left;
                            transition: transform .5s;
                        }
                    }
        
                }
    
            }

        }

    }