@import 'constants';
@import 'typography';
@import 'mixins';

html {
    -webkit-user-select: none;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    font-family: $muli;
    background-color: #e6e6e6;
}

.main-cursor {

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    // z-index: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    margin: 0;
    pointer-events: none;

}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    background-color: rgba($color: #e6e6e6, $alpha: 1.0);
    display: flex;
    justify-content: center;
    align-items: center;

    &__clip-section {
        overflow: hidden;
    }

    &__copy-container {
        
        display: flex;
        align-items: baseline;
        // padding: 0;
        // text-align: justify;

    }

    &__title {
        margin-right: 0.5em;
        display: inline-block;

        h1 {
            @include fluid-type($minWidth, $maxWidth, $minFontSize__loading-title, $maxFontSize__loading-title);
            margin: 0;
        }

    }

    &__sub-title {
        margin-left: 0.5em;
        display: inline-block;

        h3 {
            @include fluid-type($minWidth, $maxWidth, $minFontSize__loading-sub-title, $maxFontSize__loading-sub-title);
            margin: 0;
        }

    }

}

.navigation {

    position: relative;
    z-index: 0;
    user-select: none;
    -webkit-user-select: none;

    &__links {
        
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        width: 100%;
        margin: 0;
        
        .link {
            text-decoration: none;
            color:#000000;
            display: inline-block;
            margin-top: 2em;
            margin-bottom: 2em;
            position: relative;
            font-weight: $semi-bold;
            @include fluid-type($minWidth, $maxWidth, $minFontSize__navigation, $maxFontSize__navigation);
            opacity: 0.5;
            transition: opacity 0.5s;
            will-change: opacity;
            text-align: center;

            &--active {

                opacity: 1.0;
                transition: opacity 0.5s;
                will-change: opacity;
    
            }

            &--disabled {

                pointer-events: none;

            }

            // cursor: none;

            &::before {

                position: absolute;
                width: 100%;
                bottom: 0%;
                height: 1px;
                background-color: black;
                content: '';
                will-change: transform;
                transform: scaleX(0);
                transform-origin: bottom right;
                transition: transform 0.2s;
    
            }

            &:hover {

                opacity: 1.0;
                transition: opacity 0.5s;
                will-change: opacity;

                &::before {
                    will-change: transform;
                    transform: scaleX(1);
                    transform-origin: bottom left;
                    transition: transform 0.2s;
                }
    
            }

        }

    }

}   
