@import 'constants';
@import 'typography';
@import 'mixins';

html {
    // -webkit-user-select: none;
    // user-select: none;
    //cursor: none;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: $muli;
    background-color: #e6e6e6;
    // touch-action: none;
    // cursor: none;

}

.landscape-cta {

    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
    width: 100vw;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-color: rgba($color: #e6e6e6, $alpha: 1.0);
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 414px) and (orientation: portrait) {
        // visibility: visible;
        transform: scale(1);
        z-index: 999;
    }

    @media screen and (max-width: 812px) and (orientation: landscape) {
        transform: scale(0);
        z-index: -3;
    }

    &__text {

        @include fluid-type($minWidth, $maxWidth, $minFontSize__rotate-cta, $maxFontSize__rotate-cta);

    }

}

.pointer {
    cursor: pointer;
}

.scrolling {
    -webkit-user-select: none;
    user-select: none;
}

.grid {

    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;

    &__column {
        height: 100vh;
        // width: 80px;
        // width: 5.8vw;
        width: 5.555555556vw;
        background-color: red;
        opacity: 0.2;
        margin-left: 1.041666667vw;
        margin-right:1.041666667vw;
    }

    &__row {
        // height: 5.8vw;
        height: 3.125vw;
        width: 100vw;
        background-color: red;
        opacity: 0.2;
        margin-top: 1.041666667vw;
        margin-bottom:1.041666667vw;
    }

    // &__row {
    //     // height: 7.5vh;
    //     height: 16.25vw;
    //     width: 100vw;
    //     background-color: red;
    //     opacity: 0.2;
    //     margin-top: 0.8vw;
    //     margin-bottom:0.8vw;
    // }

    // &__row {
    //     height: 5vw;
    //     width: 100vw;
    //     background-color: red;
    //     opacity: 0.2;
    //     margin-top: 1vw;
    //     margin-bottom:1vw;
    // }


    // z-index: 10000;

}

.column {
    flex-direction: row;
}

.row {
    flex-direction: column;
}

.main-cursor {

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    margin: 0;
    pointer-events: none;

}

.webgl-canvas {

    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -2;
    pointer-events: none;

}

.loader {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    z-index: 100;
    overflow: hidden;
    pointer-events: none;
    background-color: rgba($color: #e6e6e6, $alpha: 1.0);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(0, 0, 0);

    &__clip-section {
        overflow: hidden;
        display: inline-block;
    }

    &__loading-bar {
        width: 20vw;
        display: inline-block;
        height: 2px;
        background-color: black;
        transform: scaleX(0);
        // transform: translate(0px, .5vw)
    }

    &__copy-container {
        
        display: flex;
        align-items: baseline;

    }

    &__title {
        margin-right: 0.5em;
        display: inline-block;

        h1 {
            @include fluid-type($minWidth, $maxWidth, $minFontSize__loading-title, $maxFontSize__loading-title);
            margin: 0;
        }

    }

    &__sub-title {
        margin-left: 0.5em;
        display: inline-block;

        h3 {
            @include fluid-type($minWidth, $maxWidth, $minFontSize__loading-sub-title, $maxFontSize__loading-sub-title);
            margin: 0;
        }

    }

}

.loaded {
    // display: none;
    opacity: 0;
    pointer-events: none;
}

.navigation {

    position: absolute;
    height: 100vh;
    width: 5.555555556vw;
    // right: 5.25vw;
    right: 2.65vw;
    transform: translate3d(0, 0, 0);
    z-index: 2;

    &__links {
        
        position: absolute;
        writing-mode: vertical-lr;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        top: 15.35%;
        // left: 23%;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
        }
        
        .link {
            color:#000000;
            text-decoration: none;
            display: inline-block;
            // padding: 2vw 0 2vw 0;
            margin: 2vw;
            position: relative;
            font-weight: $semi-bold;
            @include fluid-type($minWidth, $maxWidth, $minFontSize__navigation, $maxFontSize__navigation);
            opacity: 0.4;
            // transition: opacity 0.5s;
            text-align: center;
            // cursor: none;
            // transform: translate3d(0, 0, 0);

            // &--active {

            //     opacity: 1.0;
            //     // transform: translate3d(0,0,0);
    
            // }

            &--disabled {

                pointer-events: none;

            }


        }
    }
}

.sticky-hovered {
    color: #ffffff !important;
    path {
        fill: #ffffff !important;
    }
}

.deactivated {
    pointer-events: none;
}

.transition-slide {

    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: #ffffff;
    transform-origin: center center;
    pointer-events: none;

}
