.project-container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 45vh;
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: center;

    &__title-container {

        position: absolute;
        left: 0%;
        height: 100%;
        width: 20%;

        &__title {
        
            font-family: Arial, Helvetica, sans-serif;
            position: absolute;
            margin: 0;
            font-size: 27px;
            writing-mode: vertical-rl;
            transform: scale(-1);
            letter-spacing: 0.1em;
            right: 15%;
        }
    }

    &__content-container {
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        right: 0%;
        width: 20%;
        height: 100%;
        margin: 0;

        h3 {
            font-size: 15px;
        }

        p {
            font-size: 14px;
        }

        &__description {

            position: absolute;
            top: 50%;
            left:15%;
            transform: translate(0%, -50%);

        }

        &__project-link {

            position: absolute;
            bottom: 0%;
            left: 15%;

            p {
                margin: 0;
            }
        }

    }

}

.project-space {
    
    height: 100%;
    width: 45%;

}

.project {

    width: 60%;
    height: 100%;
    margin: 0;
    position: absolute;

}