@import 'constants';
@import 'typography';
@import 'mixins';

.project-container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 28vw;
    max-width: $maxWidth;
    max-height: $maxHeight;
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    // @media screen and (max-width: 414px) {
    //     width: 100vw;
    //     height: 100vh;
    // }

    @media screen and (max-width: 1024px) {
        width: 90vw;
        height: 28vw;
    }

    &--scrolling {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        z-index: 0;
        pointer-events: none;
    }

}

.title-container {

    position: relative;
    left: 0%;
    height: 100%;
    width: 25%;

        &__title {

            position: absolute;
            right: 10%;
            width: 90%;
            pointer-events: none;
                
            h1 {
                margin: 0;
                @include fluid-type($minWidth, $maxWidth, $minFontSize__projects-title, $maxFontSize__projects-title);
                font-weight: $semi-bold;
                letter-spacing: 0.12em;
                text-align: end;
                text-transform: uppercase;
                will-change: transform, opacity;
            }

        }

}

.content-container {
        
        position: relative;
        right: 0%;
        width: 25%;
        height: 100%;
        margin: 0;
        pointer-events: none;

        h3 {
            @include fluid-type($minWidth, $maxWidth, $minFontSize__projects-header, $maxFontSize__projects-header);
            margin: 0;
            font-weight: $bold;
        }

        p {
            @include fluid-type($minWidth, $maxWidth, $minFontSize__projects-body, $maxFontSize__projects-body);
            margin: 0;
            font-weight: $light;
        }

        &__content {

            position: absolute;
            left: 10%;
            width: 90%;
            bottom: 0%;
            display: flex;
            flex-direction: column;

        }

        .project-info {

            display: inline-block;
            margin-top: 1.25em;
            will-change: transform, opacity;

        }

    }

.project-link {

        position: absolute;
        bottom: 0%;
        right: 10%;
        cursor: pointer;

            a {
                text-decoration: none;
                color:#000000;
                margin: 0;
    
                &::before {
    
                    position: absolute;
                    height: 1px;
                    bottom: 0%;
                    width: 100%;
                    background-color: black;
                    content: "";
                    transform: scaleX(0);
                    transform-origin: top right;
                    transition: transform 0.2s;
        
                }
    
            }
            a:hover {
    
                &::before {
                    transform: scaleX(1);
                    transform-origin: top left;
                    transition: transform .5s;
                }
    
            }
    }


.project-video {

    width: 45%;
    height: 90%;
    margin: 0;
    position: relative;

    @media screen and (max-width: 414px) {
        width: 75%;
        height: 40%;
        // height: 50vh;
    }

}