// @import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;600;700;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap');
$mulish: 'Mulish', sans-serif;

$extraLight: 200;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$black: 900;

$minFontSize-body: 10px;
$maxFontSize-body: 10px;

$minFontSize-header: 15px;
$maxFontSize-header: 15px;

//navigation
$minFontSize__navigation: 14px;
$maxFontSize__navigation: 20px;

//loading screen
$minFontSize__loading-title: 12px;
$maxFontSize__loading-title: 20px;

//rotate CTA
$minFontSize__rotate-cta: 15px;
$maxFontSize__rotate-cta: 32px;

$minFontSize__loading-sub-title: 5px;
$maxFontSize__loading-sub-title: 20px;

//project typography rules
$minFontSize__projects-title-scrolling: 12px;
$maxFontSize__projects-title-scrolling: 50px;

$minFontSize__projects-title: 10px;
// $maxFontSize__projects-title: 46px;
// $maxFontSize__projects-title: 56px;
$maxFontSize__projects-title: 36px;

$minFontSize__projects-header: 8px;
$maxFontSize__projects-header: 30px;

$minFontSize__projects-number: 8px;
$maxFontSize__projects-number: 23px;

$minFontSize__projects-body: 7px;
$maxFontSize__projects-body: 18px;

$minFontSize__projects-name: 12px;
$maxFontSize__projects-name: 28px;

$minFontSize__projects-details: 7px;
$maxFontSize__projects-details: 13px;

//about page
$minFontSize__about-header: 15px;
$maxFontSize__about-header: 180px;

$minFontSize__about-body: 3px;
$maxFontSize__about-body: 18px;

$minFontSize__about__links-header: 5px;
$maxFontSize__about__links-header: 20px;

$minFontSize__about__links-body: 3px;
$maxFontSize__about__links-body: 15px;


* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
