@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;600;700&display=swap');

$muli: 'Muli', sans-serif;

$light: 300;
$semi-bold: 600;
$bold: 700;

$minFontSize-body: 10px;
$maxFontSize-body: 10px;

$minFontSize-header: 15px;
$maxFontSize-header: 15px;


//project typograpgy rules
$minFontSize__projects-title: 12px;
$maxFontSize__projects-title: 26px;

$minFontSize__projects-header: 8px;
$maxFontSize__projects-header: 16px;

$minFontSize__projects-body: 5px;
$maxFontSize__projects-body: 13px;

//about page
$minFontSize__about-header: 15px;
$maxFontSize__about-header: 45px;

$minFontSize__about-body: 5px;
$maxFontSize__about-body: 15px;

$minFontSize__about__links-header: 10px;
$maxFontSize__about__links-header: 20px;

$minFontSize__about__links-body: 5px;
$maxFontSize__about__links-body: 15px;


* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
